---
import {
	SkipBack,
	SkipForward,
	RotateCw,
	Import,
	ChevronFirst,
	ChevronLast,
} from "@lucide/astro";
---

<div class="flex flex-wrap gap-5 mb-5 items-start">
	<svg
		id="evaluation-bar"
		width="40"
		height="730"
		xmlns="http://www.w3.org/2000/svg"
		fill="#fff"
	>
		<rect id="black-rect" x="0" y="0" width="40" height="365" fill="#000000"
		></rect>

		<rect id="white-rect" x="0" y="365" width="40" height="365" fill="#ffffff"
		></rect>
		<text
			id="white-eval-text"
			x="20"
			y="720"
			fill="#000000"
			font-size="16"
			text-anchor="middle"
		>
		</text>
		<text
			id="black-eval-text"
			x="20"
			y="20"
			fill="#fff"
			font-size="16"
			text-anchor="middle"
		>
		</text>
	</svg>

	<div
		class="max-w-125 w-[calc(100vw-40px)] sm:max-w-[320px] lg:max-w-170"
		id="board"
	>
	</div>

	<div
		class="bg-slate-300/50 flex flex-col gap-4 px-16 w-fit min-w-100 py-4 font-sans glass-card"
	>
		<div class="info text-2xl" id="eval">Eval: 0.00</div>

		<div class="info" id="classification"></div>

		<div class="info" id="opening"></div>

		<section
			id="controls"
			class="flex justify-center gap-2 rounded-md bg-slate-400/30 px-4 py-2 w-fit mx-auto"
		>
			<button id="flip-board">
				<RotateCw />
			</button>
			<button id="first-move">
				<ChevronFirst />
			</button>
			<button id="go-back">
				<SkipBack />
			</button>
			<button id="go-forward">
				<SkipForward />
			</button>
			<button id="last-move">
				<ChevronLast />
			</button>
			<button id="import-game">
				<Import />
			</button>
		</section>

		<section id="move-tree">
			<div id="moves"></div>
		</section>
	</div>
</div>

<script src="@/board.ts"></script>
