@import "tailwindcss";

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs font-medium;
}

.glass-card {
  @apply rounded-lg border bg-white/20 backdrop-blur-lg border-white/30 shadow-sm;
}


.marker-brilliant {
	fill: #46ecd5; 
}
