@import "tailwindcss";
:root {
  interpolate-size: allow-keywords;
}

body {
  @apply bg-slate-200/50 text-gray-800;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs font-medium;
}

.glass-card {
  @apply rounded-lg border backdrop-blur-lg border-white/30;
}

.lucide {
  stroke-width: 2.5;
}

.info {
  @apply font-bold text-center tabular-nums;
}

.muted {
  @apply text-gray-400;
}

#controls button {
  @apply p-2 rounded-md transition duration-200 hover:bg-slate-400/40;
}

#chessboard span {
  @apply font-semibold text-sm mt-1;
}
