@import "tailwindcss";


body {
  @apply bg-white text-gray-800;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs font-medium;
}

.glass-card {
  @apply rounded-lg border backdrop-blur-lg border-white/30 shadow-sm;
}

.lucide {
  stroke-width: 2.5;
}

.info {
  @apply font-bold text-center tabular-nums;
}

.muted {
  @apply text-gray-400;
}

#controls button {
  @apply p-2 rounded-md transition duration-200 hover:bg-slate-400/40;
}
